{% extends "base.html" %}
{% block content %}
<div class="jumbotron bg-warning">
    {% if current_user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
        <p>Hi {{current_user.username}}</p>
        {% for i in range(1,9) %}
            <label for="Period {{i}}">Period {{i}}</label>
            <textarea name="Period {{i}}" id="period-textbox" cols="30" rows="1"></textarea>
            <br>
        {% endfor %}
    {% else %}
        <p>Please login or register</p>
    {% endif %}
</div>

{% endblock %}