div {
    background-color: #5DB8FF;
    
}

h2 {
    align-content: center;
    position: absolute;
    bottom: 0;
}

#rightRegister {
    float: right;
}

body {
    background-image: url("allen_high_school_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.allenisdlogo {
    margin-left: 5vw;
    width: 12vh;
    height: 9.5vh;
}